.place-order form {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.place-order form input, textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border-color: #EC9C31;
}

.product-img {
    width: 98.6vw;
    height: 60vh;
}