.banner {
    background-image: url(../../Images/banner1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-size {
    padding: 300px 0px 150px;
}

.banner-size h1 {
    letter-spacing: 5px;
    font-weight: bold;
}