.banner-addProduct {
    background-image: url(../../../Images/allbookingsAS.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: -100px;
}

.banner-as {
    padding: 100px 0px;
}

.add-products form {
    display: inline-flex;
    flex-direction: column;
    padding: 50px 150px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.829);
    border-radius: 20px;
}

.add-products form input, .massage {
    width: 200%;
    margin-bottom: 15px;
    padding: 10px;
    border-color: #FF6C27;
}